@import "knacss-config";
@import "../bower/KNACSS/less/_01a-normalize";
@import "../bower/KNACSS/less/_01b-base";
@import "../bower/KNACSS/less/_02-layout";
@import "../bower/KNACSS/less/_03-grids";
@import "../bower/KNACSS/less/_04-tables";
@import "../bower/KNACSS/less/_05-forms";
@import "../bower/KNACSS/less/_06-helpers";
@import "../bower/KNACSS/less/_07-responsive";
@import "../bower/KNACSS/less/_08-print";
@import "../bower/KNACSS/less/_09-misc";
@import "../bower/KNACSS/less/_10-styling"; // minor stylings

@color-active: #37e3d4;
@color-saturated: #b4c2c1;

.container {
  max-width: @medium-plus-screen;
  margin: auto;
}

.header {
  background: #eee;
}

a.titre {
  color: #000;
}

.references {
}

.contact {
  background: #dfdfdf;
}

h1, h2, h3, h4 {
  font-family: Nunito, sans-serif;
  font-weight: 100;
}

.btn-lien {
  background: #fff;
  padding:8px 18px;
  text-decoration: none;
  border: 4px solid @color-saturated;
  transition: all 100ms linear;

  &:hover {
    background: @color-active;
    border-color: @color-active;
  }
}

@import "components/Reference";
@import "components/Map";
@import "hover";
